* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.container {
    background-color: darkviolet;



}

.gallery {
    display: flex;
    flex-wrap: wrap;
    height: 1280px;
    justify-content:space-around;
    align-content: space-around;
}

.box {
    display: block;
    background-color: wheat;
    /*margin: 1px;*/
    justify-content: space-around;
    flex-basis: 33%;
    /*width: 32%;*/
    height:420px;

}


