* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
}

.title {
    align-self: center;
    color: #0000;
}