* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: auto;
}




.uppercase {
    text-transform: uppercase;
}

/*for navigation*/

.for-header {
    padding-top: 50px;
}

.for-ul {
    text-align: center;
}

.for-li {
    display: inline-block;

}

.for-links {
    display: block;
    margin-right: 50px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color:  #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.for-links:hover {
    color: blue;
}


/*here is all about main*/
.for-main {
    text-align: center;
    /*margin:50px 0 0;*/
    padding: 50px 0;
}

.sections  {
    display: inline-block;
    max-width: 420px;
    text-align: left;
    margin-right: 54px;
    margin-bottom: 50px;
}

.sections:nth-last-child(2n+2) {
    margin-right: 0;
}

.sections:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.not-display {
    display: none;
}


.for-p {
    margin:30px 0;
    font-family: 'Ubuntu', sans-serif;
    color:  #b4ad9e;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.for-h2 {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color:  #626262;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.for-topics {
    font-family: 'Playfair Display', serif;
    color:  #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/*.photos {*/
    /*width:420px;*/
    /*height: 280px;*/
/*}*/



.for-button {
    display:block;
    margin: 50px auto;
    /*padding: 22px 34px;*/
    width:164px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    color:  #626262;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}