@import "var.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}





.wrapper {
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #fff url("../img/Vector Smart Object.jpg")  center no-repeat  fixed ;
    background-size: cover;
    padding: 2.3125rem 0 8.625rem;
}

.wrapper-team {
    background-color:#fff;
    padding: 4.5rem 0 3.625rem;
}


.container {
    min-width: 20rem;
    max-width: 58.75rem;
    margin: auto;
    /*padding: 1rem;*/
    /*text-shadow: black  1px 1px 1px;*/
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*.header {*/
    /*padding: 1.125rem 0 8.4375rem;*/

/*}*/



.menu {
    display: flex;
    margin: 0 auto 12.150rem;
    justify-content:center;
    /*width: 10.625rem;*/
    /*width: 57.48%;*/
    text-align: center;
    color: #fff;

}

.menu-reverse{
    margin-bottom: 5rem;
}
.menu-item {
    /*flex-basis:50%;*/

}

.menu-link {
    font-family: var(--mont);
    padding: 0.75rem 1rem;
    font-size:0.875rem;
    font-weight:700;
    color: #fff;
    text-align: center;

}

.menu-link:hover {
    border: 1px solid #fff;
    border-radius: 1.125rem;

}


.logo {
    font-family: var(--mont);
    display: block;
    /*margin: 0 auto;*/
    text-align: center;
    line-height:1.25rem;
    font-size:1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.125rem;
}

.service-title {
    font-family: var(--mont);
    margin: 0 auto 0.875rem;
    width: 80%;
    text-align: center;
    font-size: 1.875rem;
    /*line-height:1.875rem ;*/
    color: #fff;
    text-transform: uppercase;
}


.text {
    font-family:var(--rob);
    color:  #ffffff;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin:0 auto 4rem;
    letter-spacing: 0.125rem;
    text-align: center;
     width: 70.7%;

}

.btn  {

    display: block;
    margin: auto;
    /*padding: 16px 49px 12px;*/
    height: 2.5rem;
    /*width:17.3rem;*/
    font-family:var(--mont);
    color:  #ffffff;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 1.25rem;
    background-color:  #ff4e50;
    width: 87.5%;
    outline: none;
}

.service-btn:hover {
    color: #ff4e50;
    background-color: #ffffff;
}




.icon {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}


.wrapper-team {
    background-color: #fff;
}



.team {
    /*padding: 4.375rem 0 3.625rem;*/
}

.team-title {
    margin: 0 auto 2rem;
    font-family:var(--mont);
    color:  #333333;
    width:80%;
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
}

.team-gallery {
    margin: 0 auto 1.625rem;
    text-align: center;
}

.gallery-section {
    margin: auto 0 1.75rem;
    font-family: var(--rob);


}

.gallery-section:last-child {
    margin-bottom: 0;
}


.team-img {
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 1.375rem;
    border-radius: 100%;
    /*width: 100%;*/
}


.gallery-image {
    position: relative;
     width:7.25rem;
    height: 7.25rem;
    margin: auto;
}


.team-info {
    margin-top:1.25rem;
    font-family: var(--mont);
    color:  #333333;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
}

.team-text {
    margin:1rem auto 0;
    text-align: center;
    min-height:3.75rem;
    width: 70%;
}

.footer-btn {
    display: block;
    margin: auto;
    font-family:var(--mont);
    color: #ff4e50;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    border-radius: 1.25rem;
    border: solid 2px #ff4e50 ;
    background-color:  #ffffff;
    width: 90%;
    height: 2.5rem;
}

.footer-btn:hover {
    color: #ffffff;
    background-color: #ff4e50;
}

@media(min-width: 768px){

    .container {
        max-width: 42.5rem;
        margin: auto;
    }

    .menu-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom:14.625rem;
        /*width: 80%;*/
    }


    .menu {
        margin: 0;
    }


    /*.logo {*/
        /*margin: 0;*/
    /*}*/

    .service-title {
        font-size:3.125rem;
        /*width: 90%;*/
        margin-bottom:1rem;
        line-height: 4rem;
    }

    .text {
        font-size: 1.5rem;
        margin-bottom: 2.4rem;
    }

     .header {
         padding-bottom: 14.75rem;
     }

    .service-btn {
        /*margin-bottom: 14.75rem;*/
         width: 35%;
    }

     /*.team {*/
         /*padding-bottom:2.625rem;*/
     /*}*/



     .team-gallery {
         display: flex;
         flex-wrap: wrap;
         align-content: space-between;
         justify-content: space-around;
         margin-bottom: 2.5rem;
         /*flex-basis: 25%;*/

     }

     .gallery-section {
         margin: 0 0 1.875rem;
         flex-basis: 35%;
     }

    .gallery-section:nth-child(1) {
        order: 1;
    }

    .gallery-section:nth-child(2) {
        order: 3;
        margin-bottom: 0;
    }

    .gallery-section:nth-child(3) {
        order: 2;
    }

    .gallery-section:nth-child(4) {
        order: 4;
    }

    .team-text {
        font-size: 0.875rem;
        width: 80%;
    }


}

@media (min-width: 992px) {
    .container {
        max-width: 55.25rem;
        /*margin: auto;*/
    }

    .service-title {
        width: 65%;
    }

    .gallery-section {
        margin-bottom: 0;
    }


    /*.team {*/
     /*padding-bottom: 7.25rem;*/
    /*}*/

    .footer-btn {
        margin: auto;
    }

    .team-gallery {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .gallery-section {
        flex-basis: 25%;
    }

     .team-text {
         font-size: 0.875rem;
         width: 90%;
     }

}





