:root {
    --box-1: chocolate;
    --box-2: lightgreen;
    --box-3: darkblue;
    --box-4: indianred;
    --box-5: cadetblue;
    --box-6: indianred;
    --box-7: chocolate;
    --box-8: indianred;
    --box-9: darkblue;
}


