@import "font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
.wrapper {
    background: white;
    min-height: 675px;
}

.wrapper-contact {
    background: black;
   min-height: 675px;
}

.container {
    max-width: 960px;
    margin: auto;
}

.container-one {
    /*max-width: 960px;*/
     /*margin-top: 125px;*/
}

.header {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    flex-basis: 480px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Wisdom Script', sans-serif;
    color: #fed136;
    font-size: 26px;
    /*line-height: 41px;*/
    text-align: left;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 14px;
    font-weight: 400;
    /*line-height: 41px;*/
    text-align: center;
    text-transform: uppercase;

}

.menu-link:hover {
    color:  #fed136;
}

.menu-link:hover {
    /*position: relative;*/
    /*top: 2px;*/
    color:  #fed136;
    /*padding-bottom: 10px;*/
    /*width: 50px;*/
    /*border-bottom: 3px solid #f38181;*/
    transition: linear 200ms;
}

/*for service-info*/
.service-info {
    margin:190px 0 0;
    text-align: center;
}

.service-title {
    margin: auto;
    font-family: 'Roboto Slab', serif;
    color:  #222222;
    font-size: 40px;
    font-weight: 700;
    /*line-height: 75px;*/
    text-align: center;
    text-transform: uppercase;
}

.service-info {
    font-family: 'Montserrat', sans-serif;
    color:  #777777;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    /*max-height: 380px;*/
}

.service-block {
    /*max-width: 275px;*/
    flex-basis: 33%;
    position: relative;
}

.block-info {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 75px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.block-text {
    /*color:#999999;*/
    /*font-family: var(--robo);*/
    /*font-size: 15px;*/
    /*max-width: 280px;*/
    /*max-height: 100px;*/
    /*text-align: left;*/
    /*margin-bottom: 100px;*/

    font-family:'RobotoSlab', sans-serif;
    min-height: 55px;
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}





.block-icon {
    display: block;
    margin: auto;
    /*position: absolute;*/
    padding: 15px;
    /*width: 40px;*/
    /*height: 39px;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*left: 120px;*/
    /*top: -65px;*/
    /*background-image: url(../img/Circle-1.png);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size:100%;*/
    border:1px solid #fed136;
    border-radius: 100%;
}
