.header {
  padding: rem(15) 0;
}

.logo {
  font-size: rem(32);
  color: $bg-color ;
  font-weight: 700;
  font-family: $font ;
}

.nav {

  &__link {
    display: block;
    text-align: center;
    padding: rem(14) rem(8);
    color: $black;
    font-size: rem(16);
    text-transform: capitalize;
    font-family: $font;

    &:hover {
      color: $green;
    }
  }

}


@media (min-width: 768px)  {
  .header {
    display: flex;
    justify-content: space-between;
  }


  .nav {

    &__menu {
      display: flex;
    }
  }




}


@media (min-width: 1024px) {

  .logo {
    font-size:rem(38);
  }

  .nav {
  flex-basis: prc(560, 940);

    &__menu {
      justify-content: space-between;
    }

  }

}




