*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*list-style: none;*/
    /*text-decoration: none;*/
}

body {
    background-color: green;
}

.wrapper {
    background-color: honeydew;
    padding:20px 25px ;
    /*width: 400px;*/
    min-height: 500px;
    margin: auto;
}


.container {
    box-shadow: 0px 0px 20px 3px rgba(51,51,51,1);
    padding: 5px;
    text-align: center;
    min-height: 480px;
    /*transition: 2s ;*/
}

.img:hover {
    transform: rotate(5deg);
}

.container:hover > .title {
    color: deeppink;
    font-size: 30px;
}



.img {
    width: 325px;
    transition: 2s ;
}

.title {
    transition: 2s ;
}
.btn {
    display: block;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding: 1.2em 2em ;
    background-color: deeppink;
    border: deeppink;
    margin: auto;
    transition:  2s;
    /*transition: 1s cubic-bezier(1,-0.25,1,-0.25);*/
    /*animation: bounce 2s infinite;*/
}

.container:hover > .btn {
    transform: scale(2,1);
}

.table-wrapper {
    margin: 10px 0;
    /*min-width: 400px;*/
    background-color: green;
    padding: 20px;

}

.table {
    margin: auto;
    font-size: 30px;
    width: 500px;
    min-height: 500px;
    border: 3px solid black;
    border-collapse: collapse;
}

.caption {

    font-weight: 700;
}


.th {
    background-color: gray;
    border: none;
    color: white;
}


.th:hover {
    background-color: white;
    color: gray;
}
.td {
    border:3px solid black;
    text-align: center;
}

.td:nth-child(-n+1) {
    text-transform: uppercase;
}


.second {
    margin: auto;
    font-size: 20px;
    width: 500px;
    min-height: 500px;
    border: none;
    /*border: 3px solid black;*/
    /*border-collapse: collapse;*/
}

.name-title {
    background-color: gray;
    padding: 2px 25px;
    /*border: none;*/
    color: white;
}

.row {
    border:3px solid black;
    padding: 20px;
}

.third {
    margin: 10px auto;
    font-size: 30px;
    width: 500px;
    min-height: 500px;
    border: 3px solid black;
    border-collapse: collapse;

}

.row-third:nth-child(2n+2) {
    background-color: red;

}

HTML  CSS  Result
EDIT ON
@import url('https://fonts.googleapis.com/css?family=Overlock');

form, input {
    font-family: 'Overlock', cursive;
    font-size: 20px;
}

input {
    line-height: 30px;
    height: 30px;
    padding: 0;
    border-radius: 5px;
    text-indent: 6px;
    width: 150px;
}

input[type="submit"] {
    padding: 0 10px;
    height: 34px;
    width: 80px;
    background-color: var(--wr-dark-color);
    box-shadow: var(--black-alfa2);
    color: #eee;
}
input[type="submit"]:hover {
    box-shadow: var(--black-alfa1);
    background-color: var(--wr-light-color);
    cursor: pointer;
}

.wrapper {
    margin: auto;
    width: 360px;
    height: 50px;
    padding: 20px;
}
RERUN






