* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.wrapper {
    max-width: 900px;
    height: 900px;
    background-image: linear-gradient(yellowgreen, red);
    font-family: Roboto, sans-serif;
    margin: auto;
}

.menu {
    list-style: none;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-item > a,
.submenu-item > a {
    display: inline-block;

    padding: 20px 20px;
    color: #424242;
    background-color: #fff;
    text-decoration: none;
}

.menu-item > a:hover,
.submenu-item > a:hover{
    background: blue;
    color: #ffffff;
}

.submenu {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: blue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.menu-item:hover > .submenu {
    display: block;
}

.submenu-item {
    white-space: nowrap;
}